form(method="post")
  ul#options
    li Choices :
    li
      input(type:'text', id: 'one' , name : "options[one]")
    li
      input(type:'text', id: 'two', name : "options[two]")
    li
      input(type:'text', id: 'three', name : "options[three]")
    li
      input(type:'text', id: 'four', name : "options[four]")
    li
      input(type:'text', id: 'five', name : "options[five]")
    li
      input(type:'text', id: 'six', name : "options[six]")
    li
      p.buttons
        input(type="submit", value="Save")
